div(class="devint")
	header(id="devint-head")
	div(class="start")
		p(class="start", ng-class="{isready: isready}")
			a(href="/app/jobs", id="goto-jobs-view")
				i(class="fa fa-image")
		p(class="start")
			//
			a(href="/app/experience", id="goto-cv-view")
				i(class="fa fa-file")
