ul.cv-list {
	li {
		padding: 24px;
		margin: 24px;
		
		border: 2px solid @color_black;
    	background: @color_white;
		
	}

	ul.item-img {

		li {
			display: inline-block;
		    width: 279px;
		    margin: 2px;
		    padding: 0;
		    border: 1px solid @color_black;

			img {
				width: 100%;
				height: auto;
			}
		}
		

		
	}
}